<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	
	<!--
	Part of Microsoft Office 2016 for Mac Management
	https://github.com/talkingmoose/Microsoft-Office-2016-for-Mac-Management
	William Smith, bill@talkingmoose.net

	Purpose: Plist to set how often Microsoft AutoUpdate checks for updates.
	         Integer below is in minutes.
	         Default is 720 minutes or every 12 hours
	         240 minutes = every 4 hours
	         10,080 minutes = Once per week

	INSTRUCTIONS:

	1) In your MDM of choice, create a new configuraiton profile with a Custom payload.
	2) Upload this plist into the Custom payload.
	3) Ensure the target domain is com.microsoft.autoupdate2.
	4) Save the configuration profile or download to create a .mobileconfig file.
	5) Deploy the profile using your MDM or double-click to install the .mobileconfig on the current computer.
	-->
	
	<dict>
		<key>UpdateCheckFrequency</key>
		<integer>240</integer>
	</dict>
</plist>
